.page-not-found-container {
  text-align: center;
  margin-top: 50px;
}

.page-not-found-container h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.page-not-found-container p {
  font-size: 24px;
  margin-bottom: 20px;
}

.page-not-found-container a {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

.page-not-found-container a:hover {
  text-decoration: underline;
}
