<h1>Polityka prywatności</h1>
<p>
    Witaj na platformie kursów. Twoja prywatność jest dla nas bardzo ważna. Niniejsza polityka prywatności wyjaśnia, jakie dane osobowe zbieramy, jak je wykorzystujemy oraz jakie masz prawa związane z tymi danymi.
</p>
<h2>1. Jakie dane zbieramy?</h2>
<p>
    Zbieramy dane osobowe, które nam przekazujesz, takie jak imię, nazwisko, adres e-mail oraz dane dotyczące płatności. Możemy również zbierać dane dotyczące twojej aktywności na naszej stronie, takie jak historia zakupów i preferencje.
</p>
<h2>2. Jak wykorzystujemy Twoje dane?</h2>
<p>
    Twoje dane osobowe wykorzystujemy do:
</p>
<ul>
    <li>Świadczenia usług, które zamówiłeś.</li>
    <li>Przetwarzania płatności.</li>
    <li>Komunikacji z Tobą w sprawie Twoich zamówień i promocji.</li>
    <li>Poprawy naszej platformy oraz dostosowywania naszych usług do Twoich potrzeb.</li>
</ul>
<h2>3. Przechowywanie danych</h2>
<p>
    Twoje dane osobowe przechowujemy przez czas niezbędny do realizacji celów opisanych w tej polityce prywatności, chyba że przepisy prawa wymagają dłuższego okresu przechowywania.
</p>
<h2>4. Twoje prawa</h2>
<p>
    Masz prawo do:
</p>
<ul>
    <li>Dostępu do swoich danych osobowych.</li>
    <li>Poprawienia swoich danych, jeśli są nieprawidłowe.</li>
    <li>Żądania usunięcia swoich danych.</li>
    <li>Ograniczenia przetwarzania swoich danych.</li>
    <li>Przenoszenia swoich danych do innego dostawcy usług.</li>
</ul>
<h2>5. Kontakt</h2>
<p>
    Jeśli masz pytania dotyczące naszej polityki prywatności, skontaktuj się z nami pod adresem: <a href="mailto:kontakt&#64;twojafirma.pl">kontakt&#64;twojafirma.pl</a>.
</p>
