l<div class="hero">
  <h1>Witaj na Platformie Kursów</h1>
  <p>Profesjonalne kursy przygotowujące do matury z informatyki.</p>
  
  <div class="buttons">
    <!-- Sprawdzenie czy użytkownik nie jest zalogowany -->

    <button *ngIf="!(authService.isAuthenticated$ | async)" routerLink="/register" class="btn btn-primary">Zarejestruj się lub zaloguj</button>
    <!-- Sprawdzenie czy użytkownik jest zalogowany -->
    <button *ngIf="authService.isAuthenticated$ | async" (click)="logout()" class="btn-logout">Wyloguj się</button>
  </div>
</div>

<div class="features">
  <h2>Co oferujemy?</h2>
  <ul>
    <li>Dostęp do interaktywnych kursów</li>
    <li>Wsparcie od doświadczonych mentorów</li>
    <li>Personalizowany plan nauki</li>
  </ul>
</div>
